.btn-outline-success {
  color: black;
  border-color: black;
}

.btn-outline-success:hover {
  background-color: black;
  color: white;
  border-color: black;
}

.btn btn-dark.relative {
  position: relative;
}

.footer {
  margin-top: 30px;
  border: solid;
  border-radius: black 1px;
  height: 120px;
}

.nav-link {
  color: black;
  margin-right: 50px;
  margin-left: 20px;
}
.row {
  margin-top: 50px;
}
